<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Grade Calculator</title>
  </head>
  <body>
    <form action="/" method="POST">
      <label>Add a grade: </label>
      <input type="submit" value="Add Grade" />
    </form>
    <br />
    <a href="/grades">See your inserted grades so far</a>
    <br />
    <a href="/calculations">See all calculations and data about your grades</a>
  </body>
</html>
