<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Results</title>
  </head>
  <body>
    <h1>Marks Obatined: <%= marksObtained %></h1>
    <h1>Total Marks: <%= totalMarks %></h1>
    <h1>Percentage: <%= percentage %></h1>
  </body>
</html>
